.header {

}

.loginBar {
    height: 2rem;
    padding-right: 5rem;
    display: flex;
    margin: auto;
    justify-content: flex-end;
    align-items: center;
}

.loginText {
    font-weight: bold;
    padding-left: 2rem;
}