@font-face {
    font-family: "ShowCardRegular";
    src: url("/fonts/showcard.gothic.regular.ttf") format("truetype");
    font-weight: normal;
}

.header {
    height: 8rem;
    display: flex;
    flex-direction: row;
    background: #F2F2F2;
    justify-content: space-evenly;
    align-items: center;
}

.mobileHeader {
    background: #F2F2F2;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mobileLogoText {
    font-family: "ShowCardRegular", sans-serif;
    font-size: x-large;
    display: flex;
    flex-direction: row;
}

.car {
    color: #D63132;
}

.chilli {
    color: #9AC355;
    padding-left: 10px;
}

.dropDown {
    border-top: 2px solid red;
    border-radius: 5px;
    padding: 20px 10px 10px;
    width: 150px;
    background: #fff;
    position: absolute;
    margin-top: 0px;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.27);
    display: flex;
    flex-direction: column;
    transition: 120ms ease-in;
}

.dropItem {
    height: 3rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
}

.dropItem:hover {
    background: #F2F2F2;
    color: #D63132;
}

.dropDownHidden {
    visibility: hidden;
    padding: 10px;
    width: 150px;
    background: #fff;
    position: absolute;
    margin-top: 20px;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.27);
}

.loginBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.5rem;
    padding-right: 5rem;
}

.loginText {
    font-weight: bold;
    padding-left: 2rem;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.menuText {
    padding-left: 2rem;
}

.menuText:hover, .menuTextFirstItem:hover {
    color: #D63132;
    cursor: pointer;
    user-select: none;
}

.menuTextFirstItem {
    padding-left: 0;
}

.selectedMenuText {
    padding-left: 2rem;
    color: #D63132;
    cursor: pointer;
}

.selectedMenuTextFirstItem {
    color: #D63132;
}

.logo {
    display: flex;
    height: 7rem;
    width: 7rem;
}